body {
    color: white;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210902/pngtree-anniversary-celebration-light-effect-red-simple-atmosphere-gorgeous-image_789496.jpg"); 
    background-size: cover;
    background-position: center;
    
}

#prada h1{
    color: #e9f500;
    font-size: 55px;
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    margin-right: 500px ;
}

#prada p{
    font-size: 23px;
}


ul,ol{
    font-size: 20px;
}



marquee {
    font-size: 1.5em;
    color: yellow;
    margin: 20px 0;
}

.register {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #ff6347;
    color: white;
    font-size: 1.2em;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 650px;
}

.register-btn:hover {
    background-color: #ff4500;
}

.div h1{
    font-size: 35px;
    margin-top: 40px;
    color: #5ddf2a;
}

.div p{
    font-size: 25px;
    color: #e9f500;
}

h3{
    font-size: 20px;
}

.reg h1{
    font-style: italic;
    background-color: yellow;
    margin-right: 1250px;
    color: #2b0883;
    margin-top: 20px;
    border-radius: 3px;
}

.reg p{
    font-size: 25px;
}

